<!--the social footer-->
<div class="container" style=" padding:30px;">
  <hr>
      <div class="text-center center-block">
          <p class="txt-railway">- Bootsnipp.com -</p>
          <br />
            <a href="#"><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
            <a href="#"><i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
            <a href="#"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
            <a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
	    </div>
  </hr>
</div>
