{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="box">
        <div class="container">
         	<div class="row">

            {% for i in objects %}
    			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      					<div class="box-part text-center">

                  <div class="centerBox">
                    <div class="categoryWrapper">
                      <h1>{{i[1]}}</h1>
                      <button onclick="submit('{{i[0]}}')">
                        <span>
                          <span>
                            <span data-attr-span="ENTER">
                              {{i[2]}}
                            </span>
                          </span>
                        </span>
                      </button>
                    </div>
                  </div>

                  <!-- use a hidden radio to submit the value :) -->
                  <form action="/books" method="post" id="{{i[0]}}" style="display:none">
                    <div class="form-group" >
                      <input type="radio" name="subject" value="{{i[0]}}" checked="checked">
                    </div>
                    <button type="submit" class="btn btn-primary"> Enter </button>
                  </form>

      					 </div>
      				</div>
            {% endfor %}

      		</div>
        </div>
    </div>
{% endblock %}
