{% extends "layout.html" %}

{% block title %}
    Chose chapter
{% endblock %}

{% block main %}
    <div class="box">
        <div class="container">
         	<div class="row">

            {% for i in objects %}
    			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

      					<div class="box-part text-center">

                  <i class="fas fa-angle-down fa-3x"></i>

      						<div class="title">
      							<h3>{{i[3]}}</h3>
      						</div>

                  <!-- the descruption -->
                  <div class="text">
      							<span>{{i[4]}}</span>
      						</div>

                  <form action="/setsession" method="post">
        						<div class="form-group" >
                      <input type="radio" name="chapter" value="{{i[3]}}" checked="checked" style="display:none">
                    </div>
                    <button type="submit" class="btn btn-primary"> Enter </button>
                  </form>
      					 </div>

      				</div>
            {% endfor %}

      		</div>
        </div>
    </div>
{% endblock %}
