{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form action="/register" method="post">
    <div class="container-fluid vertical-center">
      <section class="container">
    		<div class="container-page">

    			<div class="col-md-6">
    				<h3 class="dark-grey title">Registration</h3>

    				<div class="form-group col-lg-12" style="margin:20px 0px">
    					<input name="username" type="text" class="form-control" placeholder="username" required>
    				</div>

    				<div class="form-group col-lg-6" style="margin:15px 0px">
    					<input name="password" type="password" class="form-control" placeholder="password" required>
    				</div>

    				<div class="form-group col-lg-6" style="margin:15px 0px">
    					<input name="confirmation" type="password" class="form-control" placeholder="confirmation" required>
    				</div>

            <button type="submit" class="btn btn-primary">Register</button>

    			</div>

    			<div class="col-md-6">
    				<h3 class="dark-grey title" style="font-size:20px">Terms and Conditions</h3>
    				<p>
    					By clicking on "Register" you agree to The Company's' Terms and Conditions
    				</p>
    				<p>
    					While rare, prices are subject to change based on exchange rate fluctuations -
    					should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
    				</p>
    				<p>
    					Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
    				</p>
    				<p>
    					Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
    				</p>

    			</div>
    		</div>
    	</section>
    </div>
</form>
{% endblock %}
