{% extends "layout.html" %}

{% block answer %}
  {% for q in objects %}
    {{q[6]}}
  {% endfor %}
{% endblock %}

{% block title %}
    Test
{% endblock %}

{% block main %}
  {% for q in objects %}
    <div id="op_block" class="container-fluid vertical-center">
      <section class="container">

        <div class="col-md-8">
          <!-- the content -->
          <p style=" font-size:45px; ">{{q[1]}}</p>
          <p style=" font-size:18px; ">Answer rate: {{ q[8] * 100 / (q[9] + q[8]) }} % </p>
        </div>

        <div class="col-md-4">
          <div id="op_block" class="container-page">
            {% for i in range(4) %}
            <div id="op{{i+1}}" class="svg-wrapper" onclick="checkanswer(this.id, '{{q[6]}}')">
              <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="60" width="320" />
                <div class="text">{{q[i+2]}}</div>
              </svg>
            </div>
            {% endfor %}
          </div>
        </div>

      </section>
    </div>

    <!-- correct answer animation block -->
    <div id="correct_animation" class="container-fluid vertical-center" style="display:none">
      <section class="container">

        <div class="col-md-5">
          <div class="conrainer">
            {% include "includes/_success_animation.html" %}
          </div>
        </div>

        <div class="col-md-7">

          <div>
            <p style=" font-size:40px; "> {{q[6]}} </p>
          </div>

          <div>
            <p id="solution_block" style=" font-size:30px; "> {{q[7]}} </p>
          </div>

          <form action="/record" method="post">
            <div class="form-group" >
              <input type="radio" name="result" value= '1' checked="checked" style="display:none">
              <input type="radio" name="qid" value= '{{q[0]}}' checked="checked" style="display:none">
              <input type="radio" name="corrects" value= '{{q[8]}}' checked="checked" style="display:none">
              <input type="radio" name="wrongs" value= '{{q[9]}}' checked="checked" style="display:none">
            </div>
            <button type="submit" class="btn btn-primary"> Next </button>
          </form>

        </div>

      </section>
    </div>

    <!-- the wrong animation block -->
    <div id="worng_animation" class="container-fluid vertical-center" style="display:none">
      <section class="container">

        <div class="col-md-5">
          <div class="conrainer">
            {% include "includes/_wrong_animation.html" %}
          </div>
        </div>

        <div class="col-md-7">

          <div>
            <p style=" font-size:40px; "> {{q[6]}} </p>
          </div>

          <div>
            <p id="solution_block" style=" font-size:30px; "> {{q[7]}} </p>
          </div>

          <form action="/record" method="post">
            <div class="form-group" >
              <input type="checkbox" name="result" value= '0' checked="checked" style="display:none">
              <input type="checkbox" name="qid" value= '{{q[0]}}' checked="checked" style="display:none">
              <input type="checkbox" name="corrects" value= '{{q[8]}}' checked="checked" style="display:none">
              <input type="checkbox" name="wrongs" value= '{{q[9]}}' checked="checked" style="display:none">
            </div>
            <button type="submit" class="btn btn-primary"> Next </button>
          </form>

        </div>

      </section>
    </div>
  {% endfor %}
{% endblock %}
