{% extends "layout.html" %}

{% block answer %}
  {% for q in objects %}
    {{q[6]}}
  {% endfor %}
{% endblock %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
  {% for q in objects %}
    <div id="op_block" class="container-fluid vertical-center">
      <section class="container">

        <div class="col-md-8">
          <!-- the content -->
          <p style=" font-size:40px; ">{{q[1]}}</p>

        </div>

        <div class="col-md-4">
          <div id="op_block" class="container-page">

            <!-- option 1 ~ 4 -->
            <button id="op1" type="button" class="btn btn-primary" onclick="checkanswer(this.id, '{{q[6]}}')">{{q[2]}}</button>

            <button id="op2" type="button" class="btn btn-primary" onclick="checkanswer(this.id, '{{q[6]}}')">{{q[3]}}</button>

            <button id="op3" type="button" class="btn btn-primary" onclick="checkanswer(this.id, '{{q[6]}}')">{{q[4]}}</button>

            <button id="op4" type="button" class="btn btn-primary" onclick="checkanswer(this.id, '{{q[6]}}')">{{q[5]}}</button>

          </div>
        </div>

      </section>
    </div>

    <!-- correct answer animation block -->
    <div id="correct_animation" class="container-fluid vertical-center" style="display:none">
      <section class="container">

        <div class="col-md-5">
          <div class="conrainer">
            {% include "includes/_success_animation.html" %}
          </div>
        </div>

        <div class="col-md-7">

          <div>
            <p style=" font-size:40px; "> because its correct </p>
          </div>

          <div>
            <p id="solution_block" style=" font-size:30px; "> hahaha </p>
          </div>

          <form action="/record" method="post">
            <div class="form-group" >
              <input type="radio" name="result" value= 1 checked="checked" style="display:none">
              <input type="radio" name="qid" value= '{{q[0]}}' checked="checked" style="display:none">
              <input type="radio" name="corrects" value= '{{q[8]}}' checked="checked" style="display:none">
              <input type="radio" name="wrongs" value= '{{q[9]}}' checked="checked" style="display:none">
            </div>
            <button type="submit" class="btn btn-primary"> Enter </button>
          </form>

        </div>

      </section>
    </div>

    <!-- the wrong animation block -->
    <div id="worng_animation" class="container-fluid vertical-center" style="display:none">
      <section class="container">

        <div class="col-md-5">
          <div class="conrainer">
            {% include "includes/_wrong_animation.html" %}
          </div>
        </div>

        <div class="col-md-7">

          <div>
            <p style=" font-size:40px; "> because its correct </p>
          </div>

          <div>
            <p id="solution_block" style=" font-size:30px; "> hahaha </p>
          </div>

          <form action="/record" method="post">
            <div class="form-group" >
              <input type="checkbox" name="result" value= 0 checked="checked" style="display:none">
              <input type="checkbox" name="qid" value= '{{q[0]}}' checked="checked" style="display:none">
              <input type="checkbox" name="corrects" value= '{{q[8]}}' checked="checked" style="display:none">
              <input type="checkbox" name="wrongs" value= ''{{q[9]}}'' checked="checked" style="display:none">
            </div>
            <button type="submit" class="btn btn-primary"> Enter </button>
          </form>

        </div>

      </section>
    </div>
  {% endfor %}
{% endblock %}
