{% extends "layout.html" %}

{% block answer %}
  {% for q in objects %}
    {{q[6]}}
  {% endfor %}
{% endblock %}

{% block title %}
    Test
{% endblock %}

{% block main %}
  {% for q in objects %}
    <div id="op_block" class="box">
      <div class="container">
        <div class="row">

          <div class=" col-md-8 col-xs-12">
            <div class="box-part text-center">
              <div class="centerBox">
                <div class="categoryWrapper">
                  <!-- the content -->
                  <p class="question">{{q[1]}}</p>

                  <button>
                    <span>
                      <span>
                        <span data-attr-span="Answer rate: {{ q[8] * 100 / (q[9] + q[8]) }} %">
                          Answer rate: {{ q[8] * 100 / (q[9] + q[8]) }} %
                        </span>
                      </span>
                    </span>
                  </button>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
              {% for i in range(4) %}
              <div id="op{{i+1}}" class="option" onclick="checkanswer(this.id, '{{q[6]}}', '{{q[7]}}')" >
                <div>{{q[i+2]}}</div>
              </div>
              {% endfor %}
          </div>

        </div>
      </div
    </div>

    <!-- correct answer animation block -->
    <form id="correct-record"action="/record" method="post" style="display:none">
       <input type="radio" name="result" value= '1' checked="checked">
       <input type="radio" name="qid" value= '{{q[0]}}' checked="checked">
       <input type="radio" name="corrects" value= '{{q[8]}}' checked="checked">
       <input type="radio" name="wrongs" value= '{{q[9]}}' checked="checked">
    </form>

    <!-- the wrong animation block -->
    <form id="wrong-record" action="/record" method="post" style="display:none">
        <input type="checkbox" name="result" value= '0' checked="checked">
        <input type="checkbox" name="qid" value= '{{q[0]}}' checked="checked">
        <input type="checkbox" name="corrects" value= '{{q[8]}}' checked="checked">
        <input type="checkbox" name="wrongs" value= '{{q[9]}}' checked="checked">
    </form>
  {% endfor %}
{% endblock %}
